@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark-mode {
  --background: #373636;
  --foreground: #ffffff;
}


a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-left: 1rem;
  list-style: disc;
}



body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}
